.introducao{
  padding: 8rem 0;
}

.introducao .container{
  display: flex;
  justify-content: space-between;
}

.introducao h1{
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #141414;
}

.introducao h1::after{
  content:"";
  display: block;
  width: 6rem;
  height: 0.6rem;
  margin: 1rem 0 0.2rem 0;
  background:  #61c39f;
}

.introducao p{
  font-size: 1.8rem;
  max-width: 50ch;
  color: #525252;
}

.introducao div .button{
  background: #61c39f;
  color: var(--colors-background);
}

.introducao img {
  width: 100%;
  max-width: 40%;
}

@media(max-width: 1000px){
  .introducao h1{
    font-size: 4rem;
  }
}

@media(max-width: 800px){
  .introducao .container{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media(max-width: 720px){
  .introducao{
    gap: 4rem;
  }
  .introducao h1{
    font-size: 3.8rem;
  }
  .introducao h1::after{
    margin: 1rem auto;
    background: #61c39f;
  }
  .introducao img{
    display: none;
  }
}

@media(max-width: 520px){

  .introducao h1{
    font-size: 3.6rem;
  
  }
}