@import "../css/introducao.css";
@import "../css/header.css";
@import "../css/reset.css";
@import "../css/experiencia.css";
@import "../css/global.css";

body, ul {
    margin: 0px;
    padding: 0px;
    color: var(--white-colors-text);
    background-color: var(--colors-background);
}

.background{
    width: 100%;
}


.cor {
   color: rgb(119,227,197);
font-size: 3rem;
}