@import "../css/introducao.css";
@import "../css/header.css";
@import "../css/reset.css";
@import "../css/projetos.css";
@import "../css/global.css";
@import "../css/servicos.css";
@import "../css/footer.css";
@import "../css/sobre.css";
@import "../css/tecnologias.css";
body,
ul {
  margin: 0px;
  padding: 0px;
}

.background {
  width: 100%;
  background: var(--colors-background);
  color: var(--white);
}

.cor {
  color: #61c39f;
}
