.tecnologias {
  background: #141414;
  padding: 2rem 0 8rem 0;
}

.tecnologias .titulo {
  text-align: center;
  color: var(--colors-background);
  font-size: 3rem;
  padding: 0 0 4rem 0;
}

.tecnologias .titulo::after {
  content: "";
  height: 0.4rem;
  width: 4rem;
  display: block;
  margin: 1rem auto;
  background: #61c39f;
}

.tecnologias .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.tecnologias .container ul li {
  flex: 1;
  padding: 4rem;
}

.tecnologias img {
  display: block;
  height: 10rem;
  max-width: 10rem;
}

@media (max-width: 1000px) {
  .tecnologias .container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .tecnologias h1 {
    font-size: 4.2rem;
  }
}

@media (max-width: 800px) {
  .tecnologias {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media (max-width: 720px) {
  .tecnologias {
    text-align: center;
    gap: 4rem;
  }
  .tecnologias h1 {
    font-size: 3.8rem;
  }
  .tecnologias h1::after {
    content: "";
    display: block;
    width: 6rem;
    height: 0.6rem;
    margin: 1rem auto;
    background: #141414;
  }

  .tecnologias .container ul li {
    flex: 1;
    padding: 3rem;
  }
}

@media (max-width: 520px) {
  .tecnologias h1 {
    font-size: 4rem;
  }
  .tecnologias .container ul li {
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
  }
}
