@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;700&family=Poppins:wght@100;300;400;500&display=swap');


h1, h2, h3{
  font-family: 'JetBrains Mono';
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--colors-principal);
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.4rem;
}

p{
  font-size: 1.8rem;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

.titulo{
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--gray-colors-100) !important;
  text-align: center;
}

.titulo::after{
  content: " ";
  height: 4px;
  width: 60px;
  background-color: var(--colors-background);
  display: block;
  margin: 10px auto;
}
