body,
ul {
  margin: 0px;
  padding: 0px;
  color: var(--colors-principal);
  background-color: var(--colors-background);
}

.background {
  width: 100%;
}

div header a {
  text-decoration: none;
}

header a.logo {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--colors-principal);
}

#header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  padding: 4rem 1rem;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu li {
  padding: 0.4rem 1rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: var(--colors-principal);
  font-weight: 200;
}

.menu-selected {
  color: var(--colors-background);
  background-color: var(--colors-principal);
  padding: 10px;
  border-radius: 5px;
  color: var(--colors-background);
}

#btn-mobile {
  display: block;
}

/* main */

main {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  padding: 15rem 0;
}

main .introducao {
  text-align: center;
  letter-spacing: 0.4rem;
  color: var(--colors-background);
}

main p {
  font-size: 2rem;
  text-align: center;
  color: var(--colors-principal);
  margin: 4rem 0 0 0;
}

/*  sobre */

.sobre {
  padding: 60px 0;
  background-color: var(--colors-principal);
  color: var(--gray-colors-100);
}

.sobre div {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 8rem;
  padding: 4rem 0;
}

.sobre div p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
  max-width: 50rem;
  flex: 2;
}

.sobre div p span {
  font-weight: bold;
  color: var(--colors-background);
}

.sobre div img {
  flex: 1;
  max-width: 30rem;
  height: 30rem;
}

/* produtos */

.produtos {
  gap: 8rem;
  padding: 6rem 0;
}

.produtos-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
}

.produtos-item {
  margin: 1rem;
  padding: 1rem;
  background-color: #9b40408e;
}

.produtos-item h2 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 2rem 0;
}

.produtos-item img {
  height: 220px;
  max-width: 266px;
  border: 3px solid var(--colors-principal);
  margin: 0 auto;
  text-align: center;
}

/* quebra */

.quebra {
  padding: 6rem 0;
  background-color: var(--colors-principal);
  color: var(--gray-colors-100);
}
.quebra p {
  text-align: center;
  margin: 4rem 0;
}

/* Serviços */
.servicos {
  padding: 6rem 0;
}

.servicos-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  gap: 8rem;
}

.servicos-itens {
  height: 35rem;
  padding: 2rem;
  margin: 4rem 0;
  border: 1px solid var(--colors-principal);
  text-align: center;
}

.servicos-itens h3 {
  margin: 2rem auto;
}

.servicos-itens h3 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--colors-principal) !important;
  text-align: center;
}

.servicos-itens h3::after {
  content: " ";
  height: 4px;
  width: 60px;
  background-color: var(--colors-principal);
  display: block;
  margin: 10px auto;
}

.servicos-itens p {
  font-size: 1.6rem;
  line-height: 2rem;
}

/*cardapio*/
.cardapio {
  padding: 60px 0;
  background-color: var(--colors-principal);
  color: var(--gray-colors-100);
}

.cardapio-p {
  text-align: center;
  max-width: 60rem;
  margin: 4rem auto;
}

.cardapio table {
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;
}

.cardapio-td {
    padding: 1rem;
    background-color: var(--colors-background);
    color: var(--colors-principal);
    font-weight: bold;
    text-transform: uppercase;
}

.cardapio table tr {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--colors-background);
}

.cardapio table tr td{
    padding: 1.4rem 0;

}
.cardapio table tr td .cardapio-preco{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--colors-background);
    color: var(--colors-principal);
}
